// Normalize Styles
@import node_modules/bootstrap/scss/bootstrap

// Import Modules
@import var

// SASS RESET CSS

*, *:before, *:after
  box-sizing: border-box

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  text-size-adjust: none

footer, header, nav, section, main
  display: block

body
  line-height: 1

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

input
  -webkit-appearance: none
  border-radius: 0

// END RESET

body
  height: 100vh
  width: 100%

//HEADER SECTION

header

  .scroll-progress
    position: fixed
    top: 50%
    left: 85px
    transform: translateY(calc(-50% + 25px))
    z-index: 10
    &__bar
      height: 230px
      width: 1px
      background-color: rgba(221, 84, 91, .2)
      position: relative
      &::before
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 50px
        transform: translateY(-100%)
        background-color: $main-color
    &__fill
      position: absolute
      top: 0
      width: 100%
      background-color: $main-color
      height: 0
      transition: height .5s cubic-bezier(.25,.05,.1,.94)
  .home
    > div
      width: 50px
      height: 50px
      position: fixed
      top: 45px
      left: 45px
  .nav
    width: 45px
    height: 45px
    position: fixed
    cursor: pointer
    text-align: left
    outline: none
    border: none
    right: 60px
    top: 50%
    transform: translateY(-50%)
    background: transparent
    z-index: 22
    span
      display: block
      height: 1px
      background: $main-color
      position: relative
      margin: 6px 0 6px auto
      transition: width .6s,background-color .5s,opacity .5s,transform .8s ease
    &__up
      width: 100%
      top: 15px
      transform-origin: right
    &__down
      width: 55%
      transform-origin: right
  .toggle-menu.is-active
    &:hover
      .nav__up
        transform: translateY(14px) rotate(45deg)
      .nav__down
        transform: translateY(-15px) rotate(-45deg)
        opacity: 1
  .nav
    &:hover
      span
        width: 80%
  .nav.is-active
    .nav__down
      opacity: 0
    > span
      background-color: $sub-color
  //MAIN MENU SIDE-MENU

.menu
  background-color: $main-color
  width: 70%
  position: fixed
  top: 0
  right: 0
  bottom: 0
  z-index: 21
  transform: translateX(105%)
  transition: transform .8s cubic-bezier(.25,.05,.1,.94)
.menu.is-active
  transform: translateX(0%)
  display: flex

.menu
  &::before
    content: ""
    background: $border_color
    width: 1px
    height: 100%
    position: absolute
    left: 50%
    opacity: .1
    transition: transform .6s cubic-bezier(.5,.05,.7,.2) .6s
  .navigation
    list-style: none
    counter-reset: li
    display: inline-block
    text-align: right
    &__item
      color: #ffffff
      display: block
      font-size: 3vw
      text-align: right
      transition: color 1s cubic-bezier(.2,.6,.35,1)
      &::after
        counter-increment: li
        content: "."counter(li, decimal-leading-zero)
        font-family: sans-serif
        font-weight: bold
        font-size: .333em
        margin-left: 20px
      &:hover
        .navigation__link
          transform: translateX(-30px)

      &:not(:last-child)
        margin-bottom: 50px
    &__item.is-not-hover
      color: $link-hover
      opacity: .8
      .navigation__link
        color: $link-hover
        opacity: .8

    &__link
      color: #ffffff
      display: inline-block
      text-decoration: none
      transition: color 1s cubic-bezier(.2,.6,.35,1),transform .8s ease
  &__container
    display: flex
    flex-direction: row
    height: 100%
    align-items: center
  &__col-right
    padding-top: 15px
    padding-right: 3vw
  &__col-right-inner
    display: inline-block
    text-align: left
    .button
      color: $link-hover !important
      letter-spacing: 2px
      &:hover
        color: #fff !important

  .buttom:hover
    color: #ffffff
  @media (min-width: 768px)
    .menu__col-left,
    .menu__col-right
      text-align: center
    .menu__row
      width: 100%
.main-social
  position: fixed
  bottom: 60px
  left: 75px
  z-index: 10
  transform: translateY(2px)
  &__button
    width: 20px
    height: 20px
    outline: none
    border: none
    background: transparent
    cursor: pointer
    position: relative
    display: inline-block
    vertical-align: middle
    &::before
      content: ''
      display: block
      position: absolute
      left: 50%
      top: 0
      background: $main-color
      height: 100%
      width: 1px
      transition: background .5s, transform .6s cubic-bezier(0.46, 0.03, 0.52, 0.96)
    &::after
      content: ''
      display: block
      position: absolute
      background: $main-color
      height: 1px
      width: 100%
      top: 50%
      left: 0
      transition: background .5s cubic-bezier(0.46, 0.03, 0.52, 0.96)
    .sr-only
      position: absolute
      width: 1px
      height: 1px
      padding: 0
      overflow: hidden
      border: 0
      white-space: nowrap
.main-social.is-open
  .main-social__button::before
    transform: rotate(90deg)
  .main-social__button::before,
  .main-social__button::after
    background: $sub-color

.main-wrapper
  height: 100%
  .js-scroll-container
    overflow: auto
    min-height: 100vh
    height: 100vh
    width: 100%
    transform: none
    .scroll-content
      min-height: 100%
.main-screen
  min-height: 100vh
  position: relative
  margin-bottom: 75vh

.main-screen-row
  display: flex
  flex-wrap: wrap
  flex-direction: row
  min-height: 100vh
.mainsscreen-col-img
  position: relative
  &::after
    content: ""
    background-color: #ffffff
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    transform-origin: bottom
    transition: transform 1s cubic-bezier(.25,.05,.1,.94)

.is-loaded .mainsscreen-col-img:after
  transform: scaleY(0)

.main-screen__col-left
  width: 100%
.main-screen__col-right,
.main-screen__col-right img
  width: 100%

@media (min-width: 992px)
  .main-screen__col-left
    flex: 0 0 58%
    max-width: 58%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  .main-screen__col-right
    flex: 0 0 42%
    max-width: 42%
    height: auto

  .main-title-box
    position: absolute
    left: 0
    width: 100%
    text-align: center
    z-index: 1

.main-title
  display: inline-block
  color: $main-color
  font-family: Arial, Helvetica, sans-serif
  font-size: 7.95vw
  line-height: 1.08
  letter-spacing: .02em
  margin-bottom: 60px
.title-box-wrapper
  display: block
  overflow: hidden
.title
  display: block
  transform: translateY(100%)
  transition: transform 1.2s cubic-bezier(.165,.84,.44,1)
.small-title
  display: block
  color: $main-color
  font-size: 0.9rem
  letter-spacing: 0.3em
  text-indent: 0.3em
  text-transform: uppercase
  text-align: center
  font-family: Arial, Helvetica, sans-serif

.blockqoute
  margin-bottom: 180px
  text-align: center
  &__text
    font-family: Arial, Helvetica, sans-serif
    color: $main-color
    font-size: 3.9vw
    line-height: 1.4
    max-width: 54vw
    margin: 0 auto
  &__text:not(:last-child)
    margin-bottom: 60px

.button
  display: inline-block
  color: $main-color !important
  font-size: .8rem
  letter-spacing: .2em
  text-indent: .4em
  text-transform: uppercase
  position: relative
  font-family: sans-serif
  transition: color .5s ease
  &::after
    content: ''
    position: absolute
    bottom: -8px
    left: .4em
    right: .4em
    height: 1px
    background-color: currentColor
    transition: transform .5s ease-out
  &:hover
    &::after
      transform: scale(1.2)

// MAIN COL IMG

.mainscreen-col-left-img
  display: inline-block
  position: relative
  z-index: 1

@media (min-width: 992px)
  .mainscreen-col-left-img
    max-width: 45%
    opacity: .9

.img-fluid
  max-width: 100%
  height: auto

@media (min-width: 992px)
  .mainscreen-col-right
    flex: 0 0 42%
    max-width: 42%
    height: auto

.mainscreen-col-right
  position: relative
  text-align: right
  width: 100%
  img
    width: 100%

// SECTIONE GRID
.projects-grid
  min-height: 100vh
  width: 100%
  overflow: hidden
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin-bottom: 180px
  padding-top: 450px
  padding-bottom: 20px
  position: relative

  &__project
    position: relative
    display: inline-block
  &__project.project-1
    display: block
    text-align: right
    .projects-grid__title
      top: 30%
      left: auto
      right: 0
      transform: translateX(40%)
      text-align: left

  &__project.project-2
    transform: translateY(70%)
    .projects-grid__title
      top: 75%
  &__project.project-3
    transform: translate(20%, 70%)
    .projects-grid__title
      top: 65%
      left: auto
      right: 0
      transform: translateX(40%)
      text-align: left
  &__project.project-4
    transform: translateX(-20%)
    .projects-grid__title
      top: 40%
  &__project.project-5
    display: block
    text-align: right
    transform: translateX(40%)
    .projects-grid__title
      left: auto
      right: 0
      transform: translateX(60%)
      text-align: left
  &__project.project-6
    display: block
    text-align: right
    transform: translate(20%,-85%)
    .projects-grid__title
      left: auto
      right: 50%
      transform: translate(10%, -50%)

  &__link
    display: inline-block
  &__img-wrapper
    display: inline-block
    width: 380px
    height: 100vh
    max-height: 520px
    overflow: hidden
    position: relative
  &__image-inner
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
  &__bg-image
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    height: 110%
    width: auto
    background-size: cover
    background-position: 50%

  &__title
    color: $main-color
    font-family: Arial, Helvetica, sans-serif
    font-size: 3.9vw
    text-align: right
    max-width: 380px
    position: absolute
    top: 50%
    left: 0
    transform: translate(-40%, -50%)
    z-index: 1
    opacity: 0
    transition: opacity .6s,transform .8s cubic-bezier(.25,.05,.1,.94)
    span
      display: inline
      border-bottom: 1px solid
.projects-grid__container
  margin-bottom: 200px

.projects-grid__row-1 .projects-grid__col:first-child .projects-grid__img-wrapper, .projects-grid__row-2 .projects-grid__col:last-child .projects-grid__img-wrapper, .projects-grid__row-3 .projects-grid__col:first-child .projects-grid__img-wrapper
  width: 520px
  max-height: 640px
.projects-grid__row-1 .projects-grid__col:first-child, .projects-grid__row-2 .projects-grid__col:last-child, .projects-grid__row-3 .projects-grid__col:first-child
  z-index: 1

.projects-grid__project.project-1 .projects-grid__link:hover .projects-grid__title
  transform: translateX(50%)
  opacity: 1

@media ( min-width: 768px )
  .projects-grid__project.project-2 .projects-grid__link:hover .projects-grid__title
    transform: translate(-50%, -50%)
    opacity: 1
  .projects-grid__project.project-3 .projects-grid__link:hover .projects-grid__title
    transform: translateX(50%)
    opacity: 1
  .projects-grid__project.project-6 .projects-grid__link:hover .projects-grid__title
    transform: translateY(-50%)
  .projects-grid__project.project-5 .projects-grid__link:hover .projects-grid__title
    transform: translateX(70%)
    opacity: 1
  .projects-grid__link:hover .projects-grid__title
    transform: translate(-50%, -50%)
    opacity: 1

@media (min-width: 1920px)
  .projects-grid__project.project-3
    transform: translate(-60%,70%)
  .projects-grid__project.project-4
    transform: translate(-40%)

// PROJECTS NAMES

@media (max-width: 1662px)
  .projects-grid
    padding-top: 280px
    &__container
      margin-bottom: 150px
@media (max-width:1500px)
  .projects-grid__project.project-3
    transform: translateY(70%)
  .projects-grid__project.project-4
    transform: translateX(-10%)
  .projects-grid__project.project-5
    transform: translateX(20%)
  .projects-grid__project.project-6
    transform: translateY(-85%)

@media  ( min-width: 768px)
  .projects-grid__row-1:not(:last-child)
    margin-bottom: 480px
@media (min-width: 1680px)
  .projects-grid__title
    font-size: 4rem
  .blockqoute__text
    font-size: 4rem

  .projects-grid__row-2
    margin-bottom: 680px
.blockqoute__text
  &:not(last-child)
    margin-bottom: 60px

@media (min-width: 768px)
  .projects-grid__row-2
    margin-bottom: 680px
  

.push-contact
  padding-top: 90px
  padding-bottom: 90px
  color: $sub-color
  text-align: center
  min-height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  .small-title
    margin-bottom: 40px

.blockquote__text:not(:last-child)
  margin-bottom: 60px

.blockquote__text
  color: $main-color
  font-size: 3.9vw
  font-family: Arial, Helvetica, sans-serif
  line-height: 1.4
  max-width: 54vw
  margin: 0 auto
  &:not(:last-child)
    margin-bottom: 60px
  .text-inner
    display: block
.text-outer
  display: block

//OVERLAY DIV main-overlay

.main-overlay
  //background: black
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100%
  z-index: 1
  display: none
.main-overlay.is-active
  display: block
