@import url('https://fonts.googleapis.com/css2?family=Vibes&display=swap')

$main-color: #dd545b
$sub-color: #e3a39c
$border_color: #ffeae2
$link-hover: #e3a39c

body
    font-family: 'Vibes', cursive
